.portfolio-container {
    width: 93%;
    position: relative;
    left: 56%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    margin-top: 5%;
    margin-bottom: 5%;
}

.portfolio-item {
    width: 100%;
    height: 50vh; /* 50% de la altura de la pantalla */
    display: flex;
    border-bottom: 1px solid var(--azul-gradiente);
    background-color: var(--blaco-gradiente); /* Fondo oscuro como la referencia */
    overflow: hidden;
    margin-bottom: 2%;
}

.info-side {
    width: 50%;
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}

.year { color: var(--azul-gradiente); font-size: 0.9rem; margin-bottom: 10px; }
.project-title { font-size: 3.5rem; font-weight: 800; text-transform: uppercase; margin: 0;color: var(--azul-gradiente); }
.project-desc { color: #888; max-width: 400px; margin: 20px 0; line-height: 1.6; }

.project-meta { display: flex; gap: 30px; font-size: 0.8rem; color: #555; margin-bottom: 30px; }

.view-project {
    color: rgba(0, 0, 0, 0.61);
    text-decoration: none;
    font-weight: bold;
    border-bottom: 1px solid rgba(0, 0, 0, 0.61);
    width: fit-content;
    padding-bottom: 5px;
    transition: 0.3s;
}

.view-project:hover { color: var(--azul-gradiente); border-color: var(--azul-gradiente); }

/* --- EFECTO VISUAL (GLITCH & 3D) --- */
.visual-side {
    width: 50%;
    position: relative;
    perspective: 1000px; /* Necesario para el efecto 3D */
}

.glitch-img-container {
    width: 90%;
    height: 90%;
    position: relative;
    transition: transform 0.5s ease;
    transform-style: preserve-3d;
}

.main-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(0.5);
    transition: 0.5s;
}

/* Efecto 3D al Hover */


.portfolio-item:hover .main-img {
    filter: grayscale(0);
    box-shadow: 0 20px 50px rgba(0, 51, 255, 0.3);
    /* Un pequeño brillo en el borde para el toque tecnológico */
    outline: 1px solid rgba(255, 255, 255, 0.2);
    /* Suavizamos la transición */
    transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
    transform: scale(1.02);
}

/* --- ANIMACIÓN GLITCH CSS --- */
